@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #3069fe;
  --color-accent: #f8c51b;
  --color-text-darker: #252c32;
  --color-text-dark: #373e44;
  --color-text-light: #787878;
  --color-text-lighter: #989b9e;
  --color-text-lightest: #dde2e4;
}

/* Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  width: 100%;
}

#root {
  display: flex;
  width: 100%;
  flex: 1 1 0;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-text-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}