<!DOCTYPE html>
<html lang="en" class="h-full w-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>React Tasks Server</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="flex h-full w-full bg-stone-800 text-white items-center justify-center flex-col"
  >
    <main class="flex flex-col gap-4">
      <section class="flex flex-col justify-center items-center">
        <h1 class="font-bold text-4xl">Server</h1>
        <p>Server is running on port 3000</p>
      </section>
      <section>
        <h1 class="font-bold">Routes:</h1>
        <ul>
          <li class="flex flex-col">
            <span> /api/tasks/:id </span>
            <span class="opacity-60">
              <span>Method: </span>
              <span>PUT</span>
            </span>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
<!--  -->
